.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 20rem;

  background-color: #ffffff;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;

  transition: 0.2s;
  transition-timing-function: ease-in-out;
  transform: translateY(0);

  cursor: pointer;

  &:hover {
    transform: translateY(-0.8rem);
    transition-timing-function: ease-in-out;
    transition: 0.3s;
  }
}
