@import '../../styles/mixins';

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 1.8rem;
}

.postContent {
  border-bottom: 0.1rem solid #ececec;
  height: 100%;
  padding: 0.6rem;
  .title {
    @include set-font('Roboto', bold, 2rem, 2.3rem, #484848);
  }

  .content {
    @include set-font('Roboto', 500, 1.4rem, 1.6rem, #484848);
  }

  .additionalContent {
    @include set-font('Roboto', normal, 1.2rem, 1.4rem, #f7645b);
  }
  .image {
  }
}
