@import '../../styles/mixins';

.projectStatusesWrapper {
  background: #ffffff;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 3rem 3.6rem 2.5rem 2.7rem;
}

.projectStatusesTable {
  display: grid;
  grid-template-columns: 15rem 16rem 3.8rem 20rem 15rem;
  grid-template-rows: repeat(auto-fill, 4.2rem);

  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  align-items: center;

  &.editmode {
    grid-template-columns: 15rem 16rem 3.8rem 20rem 15rem 3.8rem;
  }

  > div {
    @include set-font('Roboto', normal, 1.2rem, 3.3rem, #484848);
  }

  .header {
    @include set-font('Montserrat', 500, 1.4rem, 1.7rem, #c4c4c4);
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
}

.progressStatusLine {
  height: 0.6rem;
  width: 20rem;
  background-color: #6883e4;
  border-radius: 0.3rem;
}

.statusLine {
  width: 20rem;
  height: 0.6rem;
  background-color: #f5f5f5;
  border-radius: 0.3rem;
}
